.div-padre{
    margin: 10px;
    }

.alert-1{
    margin: 20px 15px;
}

.display-flex{
    display: flex;
}

.container-1{
    display:block;
    width: 40%;
}

.container-2{
    display:block;
    margin-left: 15px;
    margin-right: 15px;
    width: 25%;
}

.container-3{
    display:block;
    width: 30.5%;
}

.container-4{
    width: 50%;
    margin-right: 10px;
}

.container-5{
    width: 50%;
}

.container-6{
    width: 50%;
    margin-right: 15px;
}

.container-7{
    width: 23%;
}

.container-8{
    width: 25%;
    margin-right: 5px;
}

.botones{
    text-align: right;
}

.container-9{
    width: 50%;
    margin-right: 15px;
}

.container-10{
    width: 48%;
    margin-right: 15px;
}

.cuadro-color{
    background-color: grey;
    width: max-content;
    border-radius: 5px;
    align-items: center;
    margin-right: 15px;
}

.text-textarea{
    text-decoration: gray;
}
